/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --basic-text-color: #353430;
  --header-border-color: #353430;
  --header-decoration-text-color: #ffc2e6;
  --header-decoration-blur-text-color: #ff8dcb;
  --header-bg-color:#FFF1F7;
  
  --title-decor-font-weight: 700;
  --header-background-image: url(../images/cover-image-light.png);
  --main-block-color-text: #353430;
}

.theme-light .page .header-decorate-rec {
  /* Вам также нужно будет написать ряд подобных селекторов */
  display: none;
}
