:root.theme-light {
  --basic-text-color: #353430;
  --header-border-color: #353430;
  --header-decoration-text-color: #ffc2e6;
  --header-decoration-blur-text-color: #ff8dcb;
  --header-bg-color:#FFF1F7;
  --title-decor-font-weight: 700;
  --header-background-image: url(../images/cover-image-light.png);
  --main-block-color-text: #353430;
}

.theme-light .page .header-decorate-rec {
  display: none;
}
